.attachment-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.message-avatar {
  opacity: 1 !important;
}

.message-name {
  display: block !important;
}

.avatar-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
