.attachment-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.message-avatar {
  opacity: 1 !important;
}

.message-name {
  display: block !important;
}

.avatar-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}


/* for emoji auto complete */
/* copied from https://github.com/yuku/textcomplete/blob/master/src/doc/main.css */
.dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-menu li {
  border-top: 1px solid #ddd;
  padding: 2px 5px;
  margin: 0;
}
.dropdown-menu li:first-child {
  border-top: none;
}
.dropdown-menu li:hover,
.dropdown-menu .active {
  background-color: rgb(110, 183, 219);
}
.dropdown-menu a {
  height: 18px;
  text-decoration: none;
  color: #555;
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu img {
  vertical-align: text-top;
  height: 18px;
}
.editor {
  margin: 1em 0 1em;
}
